<%- include('partials/header') %> 
    <% let sortedArr = doctors %>
    <% sortedArr.sort((a, b) => (a.rating < b.rating) ? 1 : ((a.rating === b.rating) ? ((a.firstName > b.firstName) ? 1 : -1) : -1)) %>
    <% for(let i=0;i<sortedArr.length;i++) { %>
        <div><%= sortedArr[i].firstName%></div>
        <div><%= sortedArr[i].rating%></div>
        <input
            type = "button"
            value = "Book Appointment"
            onclick = "location.href='/doctorsAppointment/<%= doctors[i].dId %>'"
        >
    <% } %>

<%- include('partials/footer') %> 